/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

 :focus,
 :active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    background-color: whitesmoke;
    color: black;
    font-family: 'PT Sans';
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    /* background: #e42222; */
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
    font-family: 'PT Sans';
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    /* letter-spacing: 4px; */
    color: #fff;
    text-shadow: 3px 3px 3px rgba(65, 11, 11, 0.5);
    text-align: left;
    line-height: 1.5em;
    margin: 0 0 20px 0;
}

h2,
h3 {
    font-size: 20px;
    font-weight: 600;
    /* letter-spacing: 4px; */
    color: #fff;
    text-shadow: 3px 3px 3px rgba(65, 11, 11, 0.5);
    text-align: left;
    line-height: 1.5em;
    margin: 0 0 20px 0;
}

.wrapper {
    /* background: url('/images/Morrison_big.jpg') center center / cover no-repeat; */
    /* background-color: rgba(10, 10, 10, 0.8); */
    /* margin: 40px 10px; */
    /* height: 100%; */
    /* padding: 0px 0; */
    min-height: 100vh;
    /* overflow: hidden; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.content,
.content1 {
    /* width: 1100px; */
    max-width: 100%;
    /* height: 500vh; */
    /* height: 100vh; */
    margin: 0px 6em;
    /* margin: 0;
    padding: 0 5em; */
    /* padding: 25px; */
    background-color: cadetblue;
    /* margin: 0 auto; */
    text-align: center;
}

.__hidden {
    display: none;
}


/* //burger-меню */

.burger_menu_main {
    /* display: none; */
    position: absolute;
    top: 30%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger_menu {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger_menu_btn {
    position: relative;
    width: 50px;
    height: 50px;
    display: block;
    background-color: aliceblue;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    /* margin-left: 1em; */
}

@media (min-width: 980px) {
    .burger_menu_btn {
        display: none;
    }
}

.burger_menu_btn span,
.burger_menu_btn span::before,
.burger_menu_btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 8px;
    border-radius: 4px;
    background-color: #585858;
    transition: 0.1s;
}

.burger_menu_btn span::before,
.burger_menu_btn span::after {
    content: '';
}

.burger_menu_btn span::before {
    transform: translateY(-10px);
}

.burger_menu_btn span::after {
    transform: translateY(10px);
}


/* //Вторая кнопка */

.burger_menu_btn_2_active span::before {
    width: 25px;
    transform: rotate(-45deg);
    transform-origin: top left;
    margin-top: -2px;
}

.burger_menu_btn_2_active span::after {
    width: 25px;
    transform: rotate(45deg);
    transform-origin: bottom left;
    margin-top: -6px;
}


/* // Активная */

.burger_menu_btn_1_active span {
    height: 0;
}

.burger_menu_btn_1_active span::before {
    transform: translateY(5px) rotate(45deg);
}

.burger_menu_btn_1_active span::after {
    transform: translateY(5px) rotate(-45deg);
}


/* // стики меню */

.sticky_menu {
    position: sticky;
    top: 0px;
    left: 0px;
    /* width: 1100px; */
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 6rem;
    background-color: rgba(199, 88, 88, 0.95);
    /* max-height: 100px; */
}

.ul_menu {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
    list-style-type: none;
    /* min-width: 100%; */
    /* font-weight: 700; */
    color: #fff;
}

.ul_menu>li {
    position: relative;
    margin: 0px 0px 0px 6em;
}

.li_menu {}

.li_img img {
    /* padding: 40px 0 0 0; */
    /* display: block; */
    /* margin-top: auto; */
    width: 250px;
    height: 55px;
    position: absolute;
    top: 55%
}

.li_img {
    flex: 1 1 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__li1 img {
    width: 250px;
    height: 55px;
}

.__li2 {}

.__li3 {
    position: relative;
}

.__li4 {}

.li_socials {
    flex: 1 1 15%;
    margin-left: auto;
}


/* суб меню */

.ul_sub-menu {
    position: absolute;
    top: 90%;
    min-width: 20em;
    background-color: #585858;
    line-height: 3em;
}

.li_sub-menu {}


/* ссылки меню */

.li_menu a {
    text-decoration: none;
    transition: all 0.2s ease;
    color: #fff;
}

.li_menu a:active,
a:visited {
    color: #fff;
}

.li_menu a:hover {
    font-size: 2em;
    font-weight: bold;
    /* padding: 0px 60px; */
}

.li_menu a:active {
    position: relative;
    top: 3px;
    /* -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5); */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.content__link {
    display: inline-block;
    background-color: rgb(250, 237, 237);
    line-height: 100px;
    width: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 0 10px;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    /* , inset 0px 5px 5px rgba(0, 0, 0, 0.3); */
    transition: all 0.2s ease;
    overflow: hidden;
    color: #fff;
}

.content__link a:active,
a:visited {
    color: rgb(0, 0, 0);
}

.content__link:hover {
    background-color: whitesmoke;
    color: #000;
    /* padding: 0px 60px; */
}

.content__link:active {
    position: relative;
    top: 3px;
    /* -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5); */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.content__area {
    padding: 50px 50px;
    background-color: #78879b;
}

.through {
    text-decoration: line-through;
}

.__hidden {
    display: none;
}


/* просто целая страница */

.fullpage {
    width: 100%;
    min-height: 100vh;
    color: #fff;
    line-height: 1.5em;
    text-align: left;
}

.fullpage p {
    text-indent: 2em;
}

.__fullpage_1 {
    background-color: #794f45;
}

.__fullpage_2 {
    background-color: #77608d;
}

.__fullpage_3 {
    background-color: #7a956b;
}